<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingwithme.currentlocation">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
       <activity android:name=".addressshow.AddressDeatils"
           android:exported="true"/>
        <activity android:name=".addressshow.ShowAddressDetails"
            android:exported="true"/>
    </application>

</manifest>